* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
}

.full-height {
  height: 100%;
}

.product__list {
  padding: 1rem 0;
  background-color: whitesmoke;
}

.product__list .product__list__container {
  margin: 0 auto;
  width: 80%;
}

.product__list .product__list__container .item__list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.product__list .product__list__container .item__list .item {
  width: 20%;
  border: 1px solid grey;
  overflow: hidden;
}

.product__list .product__list__container .item__list .item .product {
  background-color: white;
  padding: 0 10px;
}

.product__list .product__list__container .item__list .item .product .product__container {
  padding: 10px;
}

.product__list .product__list__container .item__list .item .product .product__container .image__product img {
  width: 100%;
}

.product__list .product__list__container .item__list .item .product .product__container h1 {
  margin-top: 0.5rem;
  height: 2rem;
  font-size: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (max-width: 576px) {
  .product__list .product__list__container .item__list .item .product .product__container h1 {
    height: 1rem;
  }
}

.product__list .product__list__container .item__list .item .product .product__container p {
  font-size: 0.8rem;
}

.product__list .product__list__container .item__list .item .product button {
  margin-bottom: 5px;
  border-radius: 0;
  width: 100%;
  font-size: 80%;
}

@media screen and (max-width: 1200px) {
  .product__list .product__list__container .item__list .item {
    width: 20%;
  }
}

@media screen and (max-width: 992px) {
  .product__list .product__list__container .item__list .item {
    width: 25%;
  }
}

@media screen and (max-width: 768px) {
  .product__list .product__list__container .item__list .item {
    width: calc(100% / 3);
  }
}

@media screen and (max-width: 576px) {
  .product__list .product__list__container .item__list .item {
    width: 50%;
  }
}

.type {
  padding-top: 1rem;
  background-color: whitesmoke;
}

.type .type__phone {
  width: 30%;
}

.banner {
  height: 20rem;
  background-image: url(../../img/banner-1.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
/*# sourceMappingURL=index.css.map */